<section class="bg-light pt-5 text-secondary">

  <div class="container">
    <div class="align-items-center row">
      <div class="col-lg-6 mb-5">
        <p class="fw-light lead mb-4">Ejemplo descarga pdf</p><button [disabled]="cargando" (click)="saludo()" class="btn btn-primary">Descarga</button>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
  </div>


  <ng-container *ngIf="printado">
    <div class="alert-info">
      <p>{{this.resultado}}</p>
    </div>
  </ng-container>
  <ng-container *ngIf="cargando">
    <mat-spinner  mode="indeterminate" ></mat-spinner>
  </ng-container>

</section>
<div class="row">
  <div class="col-md-10">
    Explicación completa en la web: <a href="https://1938.com.es/usar-api-angular" >https://1938.com.es/usar-api-angular</a>
  </div>
</div>
